<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Consulta CEP</title>
</head>

<body>
            <form action="/show" method="POST">
                <h2>Insira apenas numerais do CEP<h2></h2>
                <input type="number" placeholder="CEP" name="cep" required size="7">
                <button type="submit">Submit</button>
            </form>
</body>

</html>